.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px;
  margin-left: 30%;
  width: 80% !important;
  color: oklch(var(--nc));
}

* {
  color: oklch(var(--n));
}

.title {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
}

form {
  margin-bottom: 10%;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="time"],
textarea,
.table {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
}

input[type="file"] {
  width: 100%;
  margin: 8px 0;
}

select {
  width: 100%;
  margin: 8px 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
  border-color: rgb(64, 64, 64);
}

/* Small button */
@media (max-width: 640px) {
  .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
  }
}

/* Medium button */
@media (min-width: 641px) and (max-width: 768px) {
  .btn-md {
    padding: 10px 20px;
    font-size: 16px;
  }
}

/* Large button */
@media (min-width: 769px) {
  .btn-lg {
    padding: 15px 30px;
    font-size: 20px;
  }
}

button.btn {
  width: 100%;
  padding: 12px 20px; /* Ensure padding is adequate */
  margin: 8px 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
  font-size: 24px; /* Set a base font size */
  line-height: 1; /* Ensure line-height is adequate */
}

.button-container {
  width: 100%;
  margin-top: 50px;
}

form > label {
  margin: 15px;
}

form > label > p {
  font-size: 24px;
  font-weight: 600;
}
