.footer {
  background-color: oklch(var(--b2));
  height: 100px;
  left: 0;
  bottom: 0;
  /* position: fixed; */
  /* position: sticky; */
  z-index: 2;
  justify-items: center;
  align-items: center;
  margin-top: 20%;
}

.footer-logo {
  max-height: 65px;
}

.footer-logo > img {
  max-height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .footer-text {
    color: var(--text-color);
    text-align: center;
    font-size: 12px;
    justify-content: space-evenly;
  }

  .footer {
    /* background-color: rgb(233, 237, 243); */
    height: 90px;
    left: 0;
    bottom: 0;
    /* position: fixed; */
    z-index: 2;
    justify-items: center;
    align-items: center;
    margin-top: 200%;
    justify-content: space-evenly;
  }
}
