.footer {
  background-color: oklch(var(--b2));
  height: 100px;
  left: 0;
  bottom: 0;
   /*position: absolute;*/
  /* position: sticky; */
  z-index: 2;
  justify-items: center;
  align-items: center;
  /*margin-top: calc(100vh - 100px);*/
  margin-bottom: 0px;
}

.footer-logo {
  max-height: 65px;
}

.footer-logo > img {
  max-height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .footer-text {
    color: var(--text-color);
    text-align: center;
    font-size: 12px;
    justify-content: space-evenly;
  }

  .footer {
    background-color: oklch(var(--b2));
    left: 0;
    bottom: 0;
    z-index: 3;
    justify-items: center;
    align-items: center;
    margin-bottom: 0px;
    height: 100px;
    /* position: fixed; */
    /*margin-top: calc(100vh - 100px);*/
    /*top: 50px;*/
    justify-content: space-evenly;
  }
}

.footer-space {
  z-index: 2;
  margin-top: 10px;
  height: 100px;
  margin-bottom: -100px;
}
