.wrapper {
  width: 100%;
  margin-top: 100px;
}

* {
  color: oklch(var(--n));
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 10% !important;
  padding: auto;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-wrapper {
  width: 20%;
  margin: 0;
}

.searchbar-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchbar-container > h1 {
  margin-top: 5%;
  font-size: 20px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  gap: 16px;
  text-decoration: none;
}

.input {
  max-width: 500px;
}

.drawer-button {
  margin: 0;
  margin-top: 60px;
}

.drawer-side {
  margin-top: 100px;
}

.drawer-content > p {
  font-size: 20px;
  color: black;
}

.drawer-content > li > h2 {
  font-size: 20px;
  font-weight: 700;
}

.dropdown > summary {
  width: max-content;
  margin-left: 0;
}

.divider {
  width: 100%;
  margin-left: 0;
}

.card {
  max-width: fit-content !important;
  margin: auto;
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card > figure {
  max-width: fit-content;
}
