.wrapper {
    width: 100%;
    margin-top: 100px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.left-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.right-wrapper {
    width: 20%;
}

.searchbar-container {
    width: 90%;
    background: white;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.searchbar-container > h1 {
    font-size: 20px;
    font-weight: 700;
}

.input {
    max-width: 500px;
}

.drawer-side {
    margin-top: 100px;
}