.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  flex: 1;
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: auto;
}

.breadcrumbs {
  white-space: nowrap;
  padding: 5px;
}

.breadcrumbs-container > .breadcrumbs > ul > li {
  color: var(--text-color);
}

/* * {
  color: oklch(var(--n));
} */

.title {
  height: min-content;
  align-self: stretch;
  gap: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
  margin-top: 0px;
}

.title2 {
  height: min-content;
  align-self: stretch;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  margin-top: 0px;
}

.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: auto 1fr; /* Auto height for the top row and equal height for the rest */
  gap: 20px; /* Adjust gap as needed */
  width: 100%;
  background-color: oklch(var(--b1));
}

.details-container .top {
  grid-column: 1 / -1; /* Make it span across all columns */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-container .content-container,
.details-container .posted-event-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 100px; /* Adjust gap as needed */
  grid-column: 1 / -1; /* Make it span across all columns */
  margin-top: 0;
  padding-top: 0;
}

.details-container .left-details,
.details-container .right-details {
  display: flex;
  flex-direction: column;
}

.details-container .left-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
}

.details-container .right-container,
.details-container .opp-right-container,
.details-container .posted-event-container .right-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.details-container .left-details > h1,
.details-container .opp-right-details > h1,
.details-container .right-details > h1,
.details-container .left-container > h1,
.details-container .right-container .right-details > h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.data-table {
  grid-column: 1 / -1;
}

.overflow-x {
  overflow-x: auto;
}

.details-container .left-details > ul li {
  margin-bottom: 16px;
}

.attendance-button-col {
  width: 400px;
}

th {
  font-size: 20px;
  color: var(--text-color);
}

tbody, td, a {
  color: var(--text-color);
  font-size: 16px;
}

.details-container .left-details > ul {
  margin-bottom: 16px;
}

.opp-carousel {
  border-radius: 16px;
}

.opp-carousel-item {
  width: 75%;
  margin-right: 20px;
}

.opp-carousel-item > img {
  border-radius: 16px;
}

div > p,
div > ul > li {
  color: var(--text-color);
}

div > a {
  font-weight: 500;
  margin-bottom: 16px;
}

div > a:hover {
  color: oklch(var(--p));
}

div > .orgImage {
  max-height: 400px;
  width: 100%;
  border-radius: 16px;
}

/* .left-details,
.opp-right-details {
  margin-top: 0;
} */

/* .left-container {
  margin-left: 0;
  width: 60%;
} */

.left-details p,
.opp-right-details p,
.left-details ul li,
.right-details p {
  margin-bottom: 16px;
}

.left-details ul li:last-child,
.opp-right-details p:last-child {
  margin-bottom: 0;
}

.left-container > p,
.opp-right-container > p {
  font-size: 16px;
}

/* .right-container {
  margin-left: auto;
} */

.right-details {
  justify-content: end;
}

.right-details > .card > h1 {
  font-size: 28px;
  font-weight: 700;
}

.card {
  padding: 0;
  margin: 0;
  max-height: 500px;
  max-width: 600px;
  height: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body > h1 {
  font-size: 20px;
  font-weight: 700;
}

.card-body > p {
  font-size: 16px;
}

p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  margin-top: 10px;
}

.event-listings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(18vh - 100px);
}

@media (max-width: 600px) {
  .wrapper {
    width: 95%;
  }

  .opps-content {
    margin: 0 auto;
  }

  .details-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 0;
  }

  .details-container .top {
    grid-column: 1 / -1;
    width: 100%;
    justify-content: center;
  }

  .details-container .left-container,
  .details-container .opp-right-container,
  .details-container .right-container {
    width: inherit;
    grid-column: 1 / -1;
  }

  .details-container .content-container,
  .details-container, .posted-event-container {
    display: grid;
    grid-column: 1;
    column-gap: 0px;
    row-gap: 16px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .details-container > *,
  .left-container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .left-details p,
  .opp-right-details p,
  .left-details,
  .top > a {
    font-size: 20px;
  }
}
