.banner {
  width: 80%;
  height: 30%;
  padding: 16px;
  background: oklch(var(--pc));
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profile > h1 {
  color: oklch(var(--s));
}

.profile p {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: normal;
  margin: 16px 0;
}

.divider {
  width: 80%;
  margin: 1% auto;
}

.details-container {
  width: 80% !important;
  height: auto;
  padding: 16px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.details {
  width: 80%;
  color: var(--text-color);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative !important;
  margin-bottom: 10%;
}

.details-top {
  justify-content: space-between;
}

.right-side {
  align-items: center;
  display: inline-block;
  flex-direction: row;
  padding: auto;
}

.edit-button {
  max-width: 200px;
}

.details > .details-top > h1 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: var(--text-color);
}

.details > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 40px;
}

.details > div h2 {
  margin-right: 20px;
  width: 215px;
  min-width: 180px;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}

.details > div p {
  margin-left: 0;
  font-size: 24px;
  color: var(--text-color);
}

.change-password-container {
  max-width: 200px;
}

.toast {
  z-index: 40;
}

@media (max-width: 600px) {
  .banner {
    width: 90%;
    height: 20%;
    padding: 16px;
    background: rgb(172, 222, 253);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
  }

  .profile > h1 {
    text-decoration: none !important;
  }

  .profile p {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    font-style: normal;
    font-weight: normal;
    margin: 16px 0;
  }

  .title {
    font-size: 30px;
  }

  button.btn {
    padding: 5px 10px !important;
    margin: 1vh !important;
  }

  .details {
    width: 90%;
  }

  .details > .details-top > h1 {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: var(--text-color);
  }

  .details > div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
  }

  .details > div h2 {
    width: 15%;
    font-size: 16px;
    font-weight: 500;
    min-width: 100px;
    color: var(--text-color);
  }

  .details > div p {
    margin-left: 0;
    font-size: 16px;
    color: var(--text-color);
  }

  .toast {
    z-index: 40;
  }
}
